.card {
    margin: 20px;
}

.card-body {
    text-align: center;
}

.mb-3{
    background: linear-gradient(to right, #9DB2BF, #DDE6ED);
}

.card-body img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    width: 220px;
}

.card-body h3 {
    padding: 20px 0 5px 0;
}
